<h1>Applicacion</h1>
<!-- <org-temperatura ciudad="Madrid" [temperatura]="20"></org-temperatura> -->

<div *ngFor="let pais of paises; let i = index; trackBy: trackById">
  <div [class.even]="i % 2 === 0">{{ i }} - {{ pais.id }} {{ pais.name }}</div>
</div>

<div class="fib">
  <input type="number" [(ngModel)]="ordinal" />
  <button (click)="calcularFibonacci(ordinal)">Calcula</button>
  <br />
  <span>{{ resultado }}</span>
</div>

<org-dialog titulo="Ejemplo de formulario" (ok)="onOk1()">
  <span subtitulo>Este es el subtitulo1</span>
  <div contenido>
    Hola
    <button>A1</button>
  </div>
</org-dialog>

<org-dialog titulo="Ejemplol 2">
  <span subtitulo>Este es el subtitulo2</span>
  <div contenido>
    Adios
    <button>Z</button>
  </div>
</org-dialog>

<router-outlet></router-outlet>
